* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: darkslategrey;
    font-family: 'BPGNinoEliteCondCaps', sans-serif;
    width: 100%;
    height: 100%;
}

/* =====================  HEADER ==================================================================== */
.header {
    grid-area: header;
    height: 84px;
}

.main {
    grid-area: main;
    height: 1fr;
}

.footer {
    grid-area: footer;
    height: 228.39px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #1A1E1F;
    z-index: 999;
    position: fixed;
    top: 0;
    margin-bottom: 84px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    height: 40px;
}

.menu {
    display: flex;
    flex-direction: row;
    height: 26px;
    text-align: right;
}

.menu-items {
    display: flex;
    line-height: 26px;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    padding-left: 38px;
    font-size: 15px;
    letter-spacing: 0.5px
}

.menu-items>a {
    color: #F4F4F4;
    text-decoration: none;
    padding: 0 5px;
    height: 100%;
}

.menu-items>a:hover {
    color: #00A3E0;
}

.vector-image {
    height: 40px;
}

.svg-root {
    height: 40px;
}

/* =====================  MAIN ==================================================================== */

.main {
    margin-top: 84px;
    width: auto;
}

/* ==== section of thesis ====*/

.thesis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1903,h_352,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 352px;
    width: 100%;
    color: #F4F4F4;
}

.thesis-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 980px;
    padding-bottom: 35px;
}

.thesis-title {
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.6em;
}

.thesis-title>span {
    text-align: left;
    font-size: 34px;
    line-height: 1.6em;
}

/* ==== section of description ====*/

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2B2B2B;
    width: 100%;
    color: #F4F4F4;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 980px;
}

.visually-hidden {
    display: none;
}

.description-about {
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: 1px;
    margin-top: 56px;
    margin-bottom: 43px;
    font-weight: 300;
}

.description-about-read-more {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    height: 40px;
    margin-bottom: 57px;
    color: #00A3F0;
}

/* ==== section of courses ====*/

.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    width: 100%;
    color: #DBDBDB;
    padding: 36px 0;
}

.courses-section-title {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 34px;
    width: 980px;
    margin-bottom: 54.5px;
}

.courses-section-title>h2 {
    font-size: 26px;
    letter-spacing: 1.5px;
    font-weight: 100;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 980px;
    margin: 0 auto;
}

.courses-container>article {
    position: relative;
    width: 300px;
    height: 414px;
    margin: 12.5px 0;
    --bg-overlay-color: rgb(22, 22, 22);
    --bg-gradient: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(85, 85, 85, 1);
    border-radius: 6px;
    overflow: hidden;
}

.courses-container>article img {
    width: 300px;
    height: 150px;
    margin-bottom: 34px;
}

.courses-container>article>h3 p a {
    margin-left: 22px;
}

.courses-container>article>h3 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 200;
    line-height: 1.5em;
    margin-left: 22px;
    box-sizing: border-box;
}

.courses-container>article p {
    margin-bottom: 10px;
    font-size: 16px;
    margin-left: 22px;
}

.courses-container>article>a {
    position: absolute;
    bottom: 0;
    margin-bottom: 21px;
    margin-left: 22px;
    font-size: 18px;
    color: #00AEEF;
    text-decoration: none;
}

/* ==== section of partners ====*/

.slider-control-prev {
    width: 35px;
    margin-left: 35px
}

.slider-container {
    display: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    position: relative;
    overflow: hidden;
    width: 980px;
    height: 74px;
}

.slider-container2 {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 980px;
    height: 74px;
}

.slider-container3 {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    position: relative;
    overflow: hidden;
    width: 980px;
    height: 74px;
}

.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 363.39px;
    background-color: #2B2B2B;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.partners>h2 {
    display: flex;
    width: 980px;
    height: 99px;
    align-items: center;
}

/* .usaid {}

.space-int {} */

.tnet {
    width: 250px;
    height: 45px;
}

/* .tegeta {}

.spectre {}

.tbc-lisinf {}

.ufs {} */

.slider-container>figure>img {
    overflow: hidden;
    display: flex;
    max-height: 74px;
    /* min-width: 326.666px; */
    justify-content: space-between;
    align-items: start;
}

.slider-control {
    height: 35px;
}

/* ==== section of questions ====*/

.pop-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    padding-bottom: 54px;
}

.pop-questions>header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.pop-questions>header>h2 {
    font-size: 26px;
    color: #F4F4F4;
    font-weight: 100;
    height: 34px;
}

.pop-questions>header>a {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    height: 34px;
    /* margin-bottom: 57px; */
    color: #00A3F0;
}

.pop-questions>header>a>span {
    height: 34px;
}

.questions-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #F4F4F4;
    width: 900px;
    padding-bottom: 30px;
}

.question {
    border-bottom: 1px solid #353131;
}

.question>header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px 0; */
    width: 900px;
    height: 37px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.question-title {
    font-size: 20px;
    /* letter-spacing: 1px; */
    line-height: 1.5em;
    /* padding-top: 2px; */
    font-weight: 300;
    padding-bottom: 3px;
    /* height: 80px; */
    margin-left: 4px;
}

.question>h4 {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding-top: 2px;
    font-weight: 300;
    margin-bottom: 40px;
    height: 33px;
    margin-left: 4px;
}

.question>p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 2em;
    margin-left: 24px;
    width: 900px;

}

.question p:last-child {
    padding-bottom: 30px;
}

.question>footer>p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 2em;
    padding-bottom: 30px;
    padding-top: 30px;
}

.arrow-control {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00A3F0;
    position: relative;
    margin-right: 5px;
}

.line1 {
    width: 7px;
    height: 7px;
    border-left: 1px solid;
    transform: rotate(-135deg);
    position: absolute;
}

.line2 {
    width: 7px;
    height: 7px;
    border-top: 1px solid;
    transform: rotate(-135deg);
    position: absolute;
}

.footer {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #1A1E1F;

    /* padding-bottom: 43px; */
}

.footer-sections-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 980px;
    height: 121px;
    margin-top: 64px;
}

.footer-section-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 121px;
    color: #F4F4F4;
}

.footer-section-copyright>a {
    text-decoration: none;
    color: #F4F4F4;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.footer-section-copyright>a {
    font-size: 14px;
    letter-spacing: 1px;
}

.footer-section-copyright>a:hover {
    color: #999494;
}

.footer-section-copyright>span {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    letter-spacing: 1px;
}

.footer-section-copyright>span>a {
    display: flex;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #F4F4F4;
}

.footer-section-copyright>span>a>span {
    font-size: 10px;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.socials-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 39;
    width: 88px;
    margin-bottom: 40px;
}

.send-email {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #00AEEF;
    border-radius: 6px;
    width: 162px;
    height: 39px;
    background-color: #00AEEF;
}

.send-email>span {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 18px;
    width: 162px;
    height: 39px;
    color: #F4F4F4;
}

.send-email:hover {
    background-color: #d5d5d5;
}

.send-email>span:hover {
    color: #161616
}

@media (max-width: 980px) {

    .courses-container>article {
        flex: 0 1 calc(48% - 24px);
    }

    .courses-container .courses-section-title {
        width: 760px;
    }

}