* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: darkslategrey;
    font-family: 'BPGNinoEliteCondCaps', sans-serif;
    width: 100%;
    height: 100%;
}

/* =====================  HEADER ==================================================================== */
.header {
    grid-area: header;
    height: 84px;
    width: 100%;
}

.main {
    grid-area: main;
    height: auto;
}

.footer {
    grid-area: footer;
    height: 228.39px;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #1A1E1F;
    z-index: 999;
    position: fixed;
    top: 0;
    margin-bottom: 84px;
}

.vector-image-container {
    left: 10px;
}

.header.scrolled {
    background: #1a1e1fee;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    height: 40px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    height: 26px;
    text-align: right;
}

.menu-item {
    display: flex;
    line-height: 26px;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    margin-left: 38px;
    font-size: 15px;
    letter-spacing: 0.5px
}

.menu-item-link {
    color: #F4F4F4;
    text-decoration: none;
    padding: 0 5px;
    transition: color 0.3s ease-in-out;
}

.active {
    color: #00A3E0;
}

.menu-item-link:hover {
    color: #00A3E0;
}

.vector-image {
    height: 40px;
}

.svg-root {
    height: 40px;
}

/* =====================  MAIN ==================================================================== */

.main {
    display: flex;
    flex-direction: column;
    margin-top: 84px;
    width: 100%;
}

/* ==== section of thesis ====*/

.thesis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1107,h_352,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 352px;
    color: #F4F4F4;
}

.thesis-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 980px;
    padding-bottom: 35px;
}

.thesis-title {
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.6em;
}

.thesis-title>span {
    text-align: left;
    font-size: 34px;
    line-height: 1.6em;
}

/* ==== section of description ====*/

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2B2B2B;
    height: auto;
    color: #F4F4F4;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 980px;
}

.visually-hidden {
    display: none;
}

.description-about {
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: 1px;
    margin-top: 56px;
    margin-bottom: 43px;
    font-weight: 300;
}

.description-about-read-more {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    height: 48px;
    margin-bottom: 57px;
    color: #00A3F0;
    transition: color 0.3s ease-in-out;
}

.description-about-read-more:hover {
    color: #F4F4F4;
}

/* ==== section of courses ====*/

.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    width: 100%;
    color: #DBDBDB;
    padding: 36px 0;
}

.courses-section-title {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 34px;
    width: 980px;
    margin-bottom: 54.5px;
}

.courses-section-title>h2 {
    font-size: 26px;
    letter-spacing: 1.5px;
    font-weight: 100;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 980px;
    margin: 0 auto;
}

.courses-container>article {
    position: relative;
    width: calc((980px - 80px)/3);
    height: 414px;
    margin: 12.5px 0;
    --bg-overlay-color: rgb(22, 22, 22);
    --bg-gradient: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(85, 85, 85, 1);
    border-radius: 6px;
    overflow: hidden;
}

.courses-container>article img {
    width: calc((980px - 80px)/3);
    height: 150px;
    margin-bottom: 34px;
}

.courses-container>article>h3 p a {
    margin-left: 22px;
}

.courses-container>article>h3 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 200;
    line-height: 1.5em;
    margin-left: 22px;
    box-sizing: border-box;
}

.courses-container>article p {
    margin-bottom: 10px;
    font-size: 16px;
    margin-left: 22px;
}

.courses-container>article>a {
    position: absolute;
    bottom: 0;
    margin-bottom: 21px;
    margin-left: 22px;
    font-size: 18px;
    color: #00AEEF;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.courses-container>article>a:hover {
    color: #00a4e09e;
}

/* ==== section of partners ====*/

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 363.39px;
    background-color: #2B2B2B;
}

.partners-section-title {
    display: flex;
    align-items: center;
    width: 980px;
    height: 99px;
    font-size: 26px;
    font-weight: 300;
    color: #F4F4F4;
}

.slider-control-prev {
    position: absolute;
    width: 35px;
    margin-left: 35px
}

.slider-control-next {
    position: absolute;
    width: 35px;
    margin-left: 35px
}

.sliders-container {
    position: relative;
    align-items: center;
    display: grid;
    grid-template-areas:
        "prev sliders next"
        "sliders-button sliders-button sliders-button"
    ;
    grid-template-rows: auto auto;
    height: 224px;
    width: 92%;
}

.prev-svg-container {
    grid-area: prev;
    display: flex;
    justify-content: left;
}

.next-svg-container {
    grid-area: next;
    display: flex;
    justify-content: right;
}

#prev,
#next {
    width: 35px;
    height: 35px;
    color: #F4F4F4;
    cursor: pointer;
}

#next {
    transform: scaleX(-1);
}

.sliders-section {
    grid-area: sliders;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: clamp(340px 980px 980px);
}

.slider-section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    position: relative;
    overflow: hidden;
    width: clamp(340px 980px 980px);
    width: 980px;
    height: 74px;
}

.slider-section2 {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 980px;
    height: 74px;
}

.slider-section3 {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;
    overflow: hidden;
    width: 980px;
    height: 74px;
}

.sliders-button {
    grid-area: 2/2;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
}

.sliders-button>ol {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sliders-button>ol>li {
    margin: 6px;
}

.sliders-button>ol>li>a {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    display: block;
}

.btn-link {
    display: block;
}

#usaid {
    width: 246px;
    height: 74px;
}

#space-int {
    width: 223.22px;
    height: 74px;
}

#tnet {
    width: 250px;
    height: 45px;
}

#tegeta {
    width: 248px;
    height: 71px;
}

#spectre {
    width: 187px;
    height: 64px;
}

#tbc-lising {
    width: 312px;
    height: 95px;
}

#ufs {
    width: 341px;
    height: 96px;
}

.slider-section>figure>img {
    overflow: hidden;
    display: flex;
    max-height: 74px;
    justify-content: space-between;
    align-items: start;
}

.slider-control {
    height: 35px;
}

/* ==== section of questions ====*/

.pop-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    padding-bottom: 54px;
}

.pop-questions>header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.pop-questions>header>h2 {
    font-size: 26px;
    color: #F4F4F4;
    font-weight: 100;
    height: 34px;
}

.pop-questions>header>a {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    height: 34px;
    color: #00A3F0;
    transition: color 0.3s ease-in-out;
}

.pop-questions>header>a:hover {
    color: #F4F4F4;
}

.pop-questions>header>a>span {
    height: 34px;
}

.questions-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #F4F4F4;
    width: 900px;
    padding-bottom: 30px;
}

.questions-list>li {
    width: 900px;
}

.question {
    border-bottom: 1px solid #353131;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 37px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.question-title {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 300;
    padding-bottom: 3px;
    margin-left: 4px;
}

.answer-open {
    max-height: 1000px;
    opacity: 1;
    overflow: hidden;
    transition: max-height ease-in 0.6s, opacity ease-in 0.6s;
}

.answer-open>h4 {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding-top: 2px;
    font-weight: 300;
    margin-bottom: 40px;
    height: 33px;
    margin-left: 4px;
}

.answer-open>p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 2em;
    margin-left: 24px;
}

.answer-open p:last-child {
    padding-bottom: 30px;
}

.answer-open>footer>p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 2em;
    padding-bottom: 30px;
    padding-top: 30px;
}

.answer-close {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height ease-out 1s, opacity ease-out 1s;
}

.answer-close>h4 {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5em;
    padding-top: 2px;
    font-weight: 300;
    margin-bottom: 40px;
    height: 33px;
    margin-left: 4px;
}

.answer-close>p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 2em;
    margin-left: 24px;
}

.answer-close p:last-child {
    padding-bottom: 30px;
}

.answer-close>footer>p {
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 2em;
    padding-bottom: 30px;
    padding-top: 30px;
}

.arrow-control {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00A3F0;
    position: relative;
    margin-right: 5px;
}

.arrow-down1 {
    width: 7px;
    height: 7px;
    border-left: 1px solid;
    transform: rotate(-135deg);
    position: absolute;
}

.arrow-down2 {
    width: 7px;
    height: 7px;
    border-top: 1px solid;
    transform: rotate(-135deg);
    position: absolute;
}

.arrow-up1 {
    width: 7px;
    height: 7px;
    border-left: 1px solid;
    transform: rotate(-135deg);
    position: absolute;
}

.arrow-up2 {
    width: 7px;
    height: 7px;
    border-top: 1px solid;
    transform: rotate(-135deg);
    position: absolute;
}


/* ==== section of footer ====*/

.footer {
    display: flex;
    justify-content: center;
    background-color: #1A1E1F;
}

.footer-sections-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 980px;
    height: 121px;
    margin-top: 64px;
}

.footer-logo {
    width: 106px;
    height: 30px;
}

.footer-section-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 121px;
    color: #F4F4F4;
}

.footer-section-copyright>a {
    text-decoration: none;
    color: #F4F4F4;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.footer-section-copyright>a {
    font-size: 14px;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
}

.footer-section-copyright>a:hover {
    color: #999494;
}

.footer-section-copyright>span {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    letter-spacing: 1px;
}

.footer-section-copyright>span>a {
    display: flex;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #F4F4F4;
}

.footer-section-copyright>span>a>span {
    font-size: 10px;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.socials-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 39;
    width: 88px;
    margin-bottom: 40px;
}

.send-email {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #00AEEF;
    border-radius: 6px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 18px;
    width: 162px;
    height: 39px;
    margin-bottom: 1px;
    background-color: #00AEEF;
    color: #F4F4F4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.send-email:hover {
    background-color: #d5d5d5;
    color: #161616
}

@media (max-width: 1030px) {

    .nav,
    .thesis-container,
    .courses-section-title,
    .partners-section-title,
    .footer-sections-container,
    .pop-questions>header {
        width: 90%;
    }

    .questions-list>li {
        width: 90%;
    }

    .description {
        padding-bottom: 57px;
    }

    .description {
        height: auto;
    }

    .description-container {
        display: block;
        width: 90%;
    }

    .courses-container {
        width: 90%;
        justify-content: space-evenly;
    }

    .partners {
        height: max-content;
        height: max-content
    }

    .sliders-container {
        display: flex;
        flex-direction: column;
        height: max-content
    }

    .slider-section {
        display: flex;
        flex-direction: column;
        overflow: visible;
        height: max-content
    }

    .prev-svg-container,
    .next-svg-container {
        display: none;
    }

}


@media (max-width:500px) {

    .header {
        width: 100vw;
    }

    .nav {
        align-items: center;
        justify-content: space-between;
        width: 320px;
    }

    .menu-items {
        position: fixed;
        flex-direction: column;
        align-items: flex-end;
        top: 0;
        right: 0;
        background-color: #2B2B2B;
        height: 100%;
        width: 62.5%;
        box-sizing: border-box;
    }

    .menu-item:first-child {
        margin-top: 84px;
    }

    .menu-item {
        font-size: 14px;
        height: 52px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .courses-container {
        width: 320px;
    }

}